.card .name {
    padding: 0;
    margin-top: 1em;
    font-size: 15px;
    color:white;
    font-family: 'Roboto', sans-serif;
}

.card .header {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5em;
}

.card .header img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.card .content {
    padding: 10px
}

.card .stars {
    color: white;
    font-size: 15px;
}

