/* mobile */
.app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

nav > ul {
    list-style-type: none;
    /* MOBile */
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin:10px;
    border: 3px solid black;
    box-shadow: 5px 5px 10px #22344e;
    width: 100%;
    min-height: 100px;
    border-radius: 50px 20px;
    padding: 10px;
    background: url("https://i.pinimg.com/564x/3e/4c/35/3e4c358e3258196dadf5f992ec09bdfa.jpg");
    background-position: center;
    background-size: 500px;
}
